*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
  color: #050505;
  font-family: Arial, sans-serif;
}

.newspaper-layout {
  display: grid;
  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
  grid-gap: 2rem;
  padding: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  line-height: 1.6;
}

.title {
  font-size: 3rem;
  padding: 2rem 0;
  background-color: navy;
  color: linen;
  grid-area: title;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
}

.feature-article p,
.secondary-article p {
  font-size: 1.6rem;
  text-align: justify;
}

.small-article1 p,
.small-article2 p,
.small-article3 p {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: justify;
}

.feature-article {
  grid-area: feature-article;
  background-color: #eee;
  padding: 2rem;
}

.secondary-article {
  grid-area: secondary-article;
  background-color: #eee;
  padding: 2rem;
}

.cover-image {
  grid-area: cover-image;
  background-color: #ccc;
  padding: 1.5rem;
  display: grid;
  place-items: center;
}

.cover-image img {
  max-width: 100%;
}

.small-article1 {
  grid-area: small-article1;
  background-color: #ccc;
  padding: 1.5rem;
}

.small-article2 {
  grid-area: small-article2;
  background-color: #ccc;
  padding: 1.5rem;
}

.small-article3 {
  grid-area: small-article3;
  background-color: #ccc;
  padding: 1.5rem;
}

@media screen and (max-width: 768px) {
  .newspaper-layout {
    grid-template-areas:
      "title"
      "feature-article"
      "cover-image"
      "secondary-article"
      "small-article1"
      "small-article2"
      "small-article3";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 2rem;
  }

  html {
    font-size: 55%;
  }
}
